<section class="content-section">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-sm-9 contact-form-wrap">
        <h4 class="underline">Drop us a line.</h4>

        <form class="" action="send-email-mailgun.php" method="post" id="form">
          <div class="form-group col-md-6">
            <label for="name">Full Name: </label>
            <input type="text" class="form-control input-style-2" id="name" name="name" placeholder="Full Name" required="">
          </div>
          <div class="form-group col-md-6">
            <label for="email">Email: </label>
            <input type="email" class="form-control input-style-2" id="email" name="email" placeholder="Email address" required="">
          </div>
          <div class="form-group col-md-12">
            <label for="subject">Subject: </label>
            <input type="text" class="form-control input-style-2" id="subject" name="subject" placeholder="Subject" required="">
          </div>
          <div class="form-group col-md-12">
            <label for="message">Message: </label>
            <textarea class="form-control input-style-2" id="message" name="message" placeholder="Enter your message.." required="" rows="5"></textarea>
            <grammarly-btn>
              <div style="z-index: 2; opacity: 1; transform: translate(802.5px, 110.812px);" class="_9b5ef6-textarea_btn _9b5ef6-not_focused" data-grammarly-reactid=".0">
                <div class="_9b5ef6-transform_wrap" data-grammarly-reactid=".0.0">
                  <div title="Protected by Grammarly" class="_9b5ef6-status" data-grammarly-reactid=".0.0.0">&nbsp;</div>
                </div>
              </div>
            </grammarly-btn>
          </div>

          <button type="submit" class="btn gw-btn pull-right ">Send Email</button>
        </form>
      </div>
      <!-- end contact-for-wrap -->

      <div class="col-md-3 col-sm-3 address-wrap">
        <h4 class="underline">Address.</h4>

        <div class="address-div">
          <p>A902, Crosswinds Apt,
            <br> Western Road, Brighton,
            <br> East Sussex, Bath,
            <br> England - BA2 4QG.
          </p>
        </div>
        <!-- end address-div -->

        <h4 class="underline">Contact Us.</h4>
        <div class="">
          <p>+1 (123) 456-7890
            <br> +1 (234) 456-7981
            <br> help@example.net
          </p>
        </div>

      </div>
      <!-- end address-wrap -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
