<section class="content-section">
  <div class="container">
    <div class="row">
      <header class="section-header text-center col-md-8 col-md-offset-2">
        <h3 class="underline">How can you contribute?</h3>
        <p class="section-intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
      </header>
    </div>
    <!-- end row -->

    <div class="row features-row">
      <div class="col-md-3 col-sm-6 same-ht" style="height: 138px;">
        <h4>Educate Kids</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
        <i class="bg-icon ion-ios-paper-outline"></i>
      </div>

      <div class="col-md-3 col-sm-6 same-ht" style="height: 138px;">
        <h4>Donate Cloths</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
        <i class="bg-icon ion-loop"></i>
      </div>

      <div class="col-md-3 col-sm-6 same-ht" style="height: 138px;">
        <h4>Arrange Dinner</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
        <i class="bg-icon ion-pizza"></i>
      </div>

      <div class="col-md-3 col-sm-6 same-ht" style="height: 138px;">
        <h4>Adopt a Child</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
        <i class="bg-icon ion-heart"></i>
      </div>

      <div class="col-md-3 col-sm-6 same-ht" style="height: 138px;">
        <h4>Become Volunteer</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
        <i class="bg-icon ion-ribbon-a"></i>
      </div>

      <div class="col-md-6 col-sm-6 text-center black-gradient feature-diff same-ht" style="height: 138px;">
        <h2>Together, we can make difference!</h2>
        <p>Yes, we all can make huge difference with our small initiatives.</p>
      </div>

      <div class="col-md-3 col-sm-6 same-ht" style="height: 138px;">
        <h4>Donate Money</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
        <i class="bg-icon ion-cash"></i>
      </div>

    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
