<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="row">

      <div class="col-md-4">
        <img src="images/logo-light.png" alt="" width="150" class="mb1">
        <p>Lorem ipsum dolor sit amet, adipisicing elit consectetur, sed do eiusmod tempor incididunt ut dolore magna aliqua labore et. Ut enim ad minim veniam dolore magna aliqua. Ut enim ad minim veniam.</p>
      </div>

      <div class="col-md-2 col-md-offset-2 col-sm-4">
        <h5 class="underline mtn">Know More</h5>
        <ul>
          <li><a href="#">Our Campaigns</a></li>
          <li><a href="#">Our Events</a></li>
          <li><a href="#">Recent Stories</a></li>
        </ul>
      </div>

      <div class="col-md-2 col-sm-4">
        <h5 class="underline mtn">Shop Now</h5>
        <ul>
          <li><a href="#">Handmade Bags</a></li>
          <li><a href="#">Craft Work</a></li>
          <li><a href="#">Handmade Cloths</a></li>
        </ul>
      </div>

      <div class="col-md-2 col-sm-4">
        <h5 class="underline mtn">Want To Help?</h5>
        <ul>
          <li><a href="#">Become Volunteer</a></li>
          <li><a href="#">Donate Money</a></li>
          <li><a href="#">Donate Cloths</a></li>
        </ul>
      </div>

    </div>
    <!-- end row -->

    <div class="row">
      <div class="col-md-6 col-sm-6">
        <h5 class="mbn"><i class="icon ion-ios-telephone"></i> +1 (123) 456-7890 <span class="separator">|</span> <i class="fa fa-envelope"></i> help@example.net</h5>
      </div>

      <div class="col-md-6 col-sm-6 text-right">
        <h5>
					<i class="fa fa-facebook"></i> <span class="separator">|</span> <i class="fa fa-twitter"></i> <span class="separator">|</span> <i class="fa fa-instagram"></i> <span class="separator">|</span> <i class="fa fa-youtube"></i> <span class="separator">|</span> <i class="fa fa-google-plus"></i>
				</h5>
      </div>

      <div class="col-md-12 text-center">
        <p><small class="text-muted">© 2016 Prakruti. All Rights Reserved.</small></p>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</footer>
