{{> navbar}}

<header class="page-title" data-parallax="scroll" data-image-src="images/kid-img-6.jpg" data-speed="0.4">
	<div class="container">
		<div class="outer">
			<div class="inner text-center">
				<h2>About Trust</h2>
				<h4 class="mt1">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
			</div> <!-- end inner -->
		</div> <!-- end outer -->
	</div> <!-- end container -->
</header>

{{> whyus}}
{{> make-difference}}
{{> subscribe}}
{{> footer}}
