{{> navbar}}

<header class="page-title" data-parallax="scroll" data-image-src="images/kid-img-11.jpg" data-speed="0.4">
  <div class="container">
    <div class="outer">
      <div class="inner text-center">
        <h2>Kids Education in Africa</h2>
        <h4 class="mt1">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
      </div>
      <!-- end inner -->
    </div>
    <!-- end outer -->
  </div>
  <!-- end container -->
</header>

<section class="content-section current-campaigns">
  <div class="container">
    <div class="row">
      <header class="section-header text-center col-md-8 col-md-offset-2">
        <h3 class="underline">Cause</h3>
        <p class="section-intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
      </header>
    </div>
    <!-- end row -->

    <div class="row">
      <div class="col-md-9 single-campaign">
        <div class="campaign-card">
          <img src="images/kids-img-3.jpg" alt="" class="img-responsive">
          <div class="campaign-info" style="">
            <h5>This is title</h5>
            <div class="category">
              <span>Education</span>
            </div>
            <!-- end category -->
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <!-- end campaign-info -->

          <div class="campaign-status">
            <div class="progress-bar"><span style="width: 10%;background-color:#27ae60"></span></div>
            <p>$1,500.00 of $15,000.00 raised</p>
          </div>
          <!-- end campaign-status -->

          <button type="button" class="btn gw-btn mt1 mb1">Donate For This Cause</button>

          <div class="campaign-details">
            <h4 class="underline mtn">About The Project</h4>
            <p class="dropcap">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
              irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur
              adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <blockquote class="col-md-8 col-md-offset-2">Charity is a supreme virtue, and the great channel through which the mercy of God is passed onto mankind.
              <small class="text-muted"> Conrad Hilton</small>
            </blockquote>
            <h5>Why You Should Contribute?</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
              irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <h5>Current Status of The Project?</h5>
            <p class="col-md-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
              irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <ul class="ul-style-1 col-md-6">
              <li><i class="fa fa-star list-icon"></i>Team of more than 200 volunteers.</li>
              <li><i class="fa fa-send list-icon"></i>Accredited by the government. </li>
              <li><i class="fa fa-hand-o-right list-icon"></i>Spreading smiles since 20 years. </li>
              <li><i class="fa fa-thumbs-up list-icon"></i>More than 20 successful campaigns. </li>
              <li><i class="fa fa-gear list-icon"></i>Most awarded charity trust. </li>
            </ul>
          </div>
          <!-- end campaign-details -->

          <div class="donate-onpage" id="donate-now">
            <div class="text-center">
              <h4 class="underline mtn">Donate Now &amp; Spread Smiles</h4>
            </div>
            <!-- end text-center -->

            <div id="donate-form-wrap" class="donate-form-wrap">
              <form class="donate-form" action="#" method="post">

                <div class="col-md-5 donate-total-wrap">
                  <h6 class="underline mb1 mt1">Amount</h6>
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">$</span>
                    <input type="text" class="form-control" placeholder="Enter Amount" value="50.00">
                  </div>
                  <!-- end input-group -->
                </div>
                <!-- end donate-total-wrap -->

                <fieldset id="donate-payment-mode-select" class="col-md-7">
                  <div id="donate-payment-mode-wrap">
                    <h6 class="donate-payment-mode-label underline mtn">Select Payment Method</h6>
                    <ul id="donate-gateway-radio-list">
                      <li>
                        <div class="custom-radio">
                          <label for="donate-paypal" class="donate-gateway-option" id="donate-option-paypal">PayPal</label>
                          <input type="radio" name="payment-mode" class="donate-gateway" id="donate-paypal" value="paypal">
                        </div>
                        <!-- end custom-radio -->
                      </li>
                      <li>
                        <div class="custom-radio">
                          <label for="donate-manual" class="donate-gateway-option donate-gateway-option-selected checked" id="donate-option-manual">Test Payment</label>
                          <input type="radio" name="payment-mode" class="donate-gateway" id="donate-manual" value="manual" checked="checked">
                        </div>
                        <!-- end custom-radio -->
                      </li>
                      <li>
                        <div class="custom-radio">
                          <label for="donate-offline" class="donate-gateway-option" id="donate-option-offline">Offline Donation</label>
                          <input type="radio" name="payment-mode" class="donate-gateway" id="donate-offline" value="offline">
                        </div>
                        <!-- end custom-radio -->
                      </li>
                    </ul>
                    <!-- end donate-gateway-radio-list -->
                  </div>
                  <!-- end donate-payment-mode-wrap -->
                </fieldset>

                <div id="donate_purchase_form_wrap">
                  <fieldset id="donate_checkout_user_info" class="mbn">
                    <legend class="underline">Personal Info</legend>
                    <p id="donate-first-name-wrap" class="form-row form-row-first col-md-6">
                      <label class="donate-label" for="donate-first"> First Name <span class="donate-required-indicator">*</span></label>
                      <input class="donate-input required" type="text" name="donate_first" placeholder="First name" id="donate-first" value="" required="">
                    </p>
                    <p id="donate-last-name-wrap" class="form-row form-row-last col-md-6">
                      <label class="donate-label" for="donate-last"> Last Name </label>
                      <input class="donate-input" type="text" name="donate_last" id="donate-last" placeholder="Last name" value="">
                    </p>
                    <p id="donate-email-wrap" class="form-row form-row-wide col-md-12">
                      <label class="donate-label" for="donate-email"> Email Address <span class="donate-required-indicator">*</span> </label>
                      <input class="donate-input required" type="email" name="donate_email" placeholder="Email address" id="donate-email" value="" required="">
                    </p>
                  </fieldset>
                  <fieldset id="donate_purchase_submit" class="text-center mbn">
                    <p id="donate-final-total-wrap" class="form-wrap "> <span class="donate-donation-total-label">Donation Total:</span> <span class="donate-final-total-amount" data-total="25.00">$50.00</span></p>
                    <div class="donate-submit-button-wrap donate-clearfix text-center">
                      <input type="submit" class="donate-submit donate-btn btn gw-btn" id="donate-purchase-button" name="donate-purchase" value="Donate Now">
                    </div>
                  </fieldset>
                </div>
              </form>
            </div>
          </div>
          <!-- end donate-onpage -->

        </div>
        <!-- end campaign-card -->
      </div>
      <!-- end single-campaign -->

      <div class="col-md-3">

        <h5 class="underline mtn hidden-sm">Other Causes</h5>

        <div class="campaign-card hidden-sm">
          <img src="images/cause-img-2.jpg" alt="" class="img-responsive">
          <div class="campaign-info" style="">
            <h5>This is a longer title</h5>
            <div class="category">
              <span>Food</span>
            </div>
            <!-- end category -->
            <p>Consectetur adipisicing elit, sed do lorem ipsum dolor sit amet, eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <!-- end campaign-info -->

          <div class="campaign-status">
            <div class="progress-bar"><span style="width: 70%;background-color:#27ae60"></span></div>
            <p>$10,500.00 of $15,000.00 raised</p>
          </div>
          <!-- end campaign-status -->

          <div class="card-footer">
            <a href="#" class="link-left">Donate Now</a>
            <a href="#" class="link-right">Read More</a>
          </div>
          <!-- end card-footer -->

          <div class="clearfix"></div>
        </div>
        <!-- end campaign-card -->

        <div class="campaign-card hidden-sm">
          <img src="images/cause-img-4.jpg" alt="" class="img-responsive">
          <div class="campaign-info" style="">
            <h5>This is a longer title</h5>
            <div class="category">
              <span>Food</span>
            </div>
            <!-- end category -->
            <p>Consectetur adipisicing elit, sed do lorem ipsum dolor sit amet, eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <!-- end campaign-info -->

          <div class="campaign-status">
            <div class="progress-bar"><span style="width: 70%;background-color:#27ae60"></span></div>
            <p>$10,500.00 of $15,000.00 raised</p>
          </div>
          <!-- end campaign-status -->

          <div class="card-footer">
            <a href="#" class="link-left">Donate Now</a>
            <a href="#" class="link-right">Read More</a>
          </div>
          <!-- end card-footer -->

          <div class="clearfix"></div>
        </div>
        <!-- end campaign-card -->

        <div class="campaign-card hidden-sm">
          <img src="images/cause-img-1.jpg" alt="" class="img-responsive">
          <div class="campaign-info" style="">
            <h5>This is a longer title</h5>
            <div class="category">
              <span>Food</span>
            </div>
            <!-- end category -->
            <p>Consectetur adipisicing elit, sed do lorem ipsum dolor sit amet, eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <!-- end campaign-info -->

          <div class="campaign-status">
            <div class="progress-bar"><span style="width: 70%;background-color:#27ae60"></span></div>
            <p>$10,500.00 of $15,000.00 raised</p>
          </div>
          <!-- end campaign-status -->

          <div class="card-footer">
            <a href="#" class="link-left">Donate Now</a>
            <a href="#" class="link-right">Read More</a>
          </div>
          <!-- end card-footer -->

          <div class="clearfix"></div>
        </div>
        <!-- end campaign-card -->

        <h5 class="underline">Image Gallery</h5>

        <div class="owl-carousel owl-carousel-single owl-theme owl-loaded">
          <!-- end one slide -->
          <!-- end one slide -->
          <!-- end one slide -->
          <div class="owl-stage-outer">
            <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: 0s; width: 819px;">
              <div class="owl-item active" style="width: 263px; margin-right: 10px;">
                <div class="text-center">
                  <img src="images/kids-img-3.jpg" alt="Sample Image">
                </div>
              </div>
              <div class="owl-item" style="width: 263px; margin-right: 10px;">
                <div class="text-center">
                  <img src="images/kids-img-2.jpg" alt="Sample Image">
                </div>
              </div>
              <div class="owl-item" style="width: 263px; margin-right: 10px;">
                <div class="text-center">
                  <img src="images/kids-img-1.jpg" alt="Sample Image">
                </div>
              </div>
            </div>
          </div>
          <div class="owl-controls">
            <div class="owl-nav">
              <div class="owl-prev" style="display: none;"></div>
              <div class="owl-next" style="display: none;"></div>
            </div>
            <div class="owl-dots" style="">
              <div class="owl-dot active"><span></span></div>
              <div class="owl-dot"><span></span></div>
              <div class="owl-dot"><span></span></div>
            </div>
          </div>
        </div>
        <!-- end owl-carousel -->

      </div>

    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>

{{> subscribe}} {{> shop}} {{> footer}}
