{{> navbar}}
<!-- Header -->
<header class="page-title" data-parallax="scroll" data-image-src="images/cause-img-2.jpg" data-speed="0.4">
	<div class="container">
		<div class="outer">
			<div class="inner text-center">
				<h2>Contact Us</h2>
				<h4 class="mt1">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
			</div> <!-- end inner -->
		</div> <!-- end outer -->
	</div> <!-- end container -->
</header>

{{> contact-form}}
{{> subscribe}}
{{> footer}}
