<!-- Navbar -->
<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">
        <img src="images/logo-light.png" alt="DonateEase Logo" height="30" class="light-logo" style="padding-top: 10px;">
        <img src="images/logo-dark.png" alt="DonateEase Logo" height="30" class="dark-logo" style="padding-top: 10px;">
      </a>
    </div>
    <!-- end navbar-header -->
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active dropdown">
          <a href="index.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
        </li>
        <li class="dropdown">
          <a href="causes.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Causes</a>
        </li>
        <li class="dropdown">
          <a href="shop.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Shop</a>
        </li>
        <li>
          <a href="about.html">About Us</a>
        </li>
        <li>
          <a href="contact.html">Contact</a>
        </li>
        <li class="left-separator">
          <a href=""><i class="icon ion-ios-telephone"></i>+1 (123) 456-7890</a>
        </li>
      </ul>
      <!-- end navbar-nav -->
    </div>
    <!--end nav-collapse -->
  </div>
  <!-- end container -->
</nav>

<!-- Header -->
<header class="head background-slider">
  <div class="container">
    <div class="outer">
      <div class="inner text-center">
        <h1>Every Child is Special!</h1>
        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
        <button type="button" class="btn gw-btn">Donate Now</button>
      </div>
      <!-- end inner -->
    </div>
    <!-- end outer -->
  </div>
</header>

<!-- Counter Section -->
<section class="content-section counters-section">
  <div class="container">
    <div class="row">

      <div class="col-md-3 col-sm-6 col-xs-6 counter-title">
        <h3>Together, we can make difference.</h3>
      </div>

      <div class="col-md-3 col-sm-6 col-xs-6 counter-box">
        <span class="count-icon ion-happy-outline"></span>
        <div class="count-info">
          <h3><span class="counter">11000</span>+</h3>
          <p>kids got smile.</p>
        </div>
        <!-- end count-info -->
      </div>
      <!-- end counter-box -->

      <div class="col-md-3 col-sm-6 col-xs-6 counter-box">
        <span class="count-icon ion-ios-flag-outline"></span>
        <div class="count-info">
          <h3><span class="counter">2200</span>+</h3>
          <p>kids got educated.</p>
        </div>
        <!-- end count-info -->
      </div>
      <!-- end counter-box -->

      <div class="col-md-3 col-sm-6 col-xs-6 counter-box">
        <span class="count-icon ion-ios-flame-outline"></span>
        <div class="count-info">
          <h3><span class="counter">128</span>+</h3>
          <p>kids got parents.</p>
        </div>
        <!-- end count-info -->
      </div>
      <!-- end counter-box -->

    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>

<!--  -->
<section class="content-section current-campaigns">
  <div class="container">
    <div class="row">
      <header class="section-header text-center col-md-8 col-md-offset-2">
        <h3 class="underline">Current Causes</h3>
        <p class="section-intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
      </header>
    </div>
    <!-- end row -->

    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="campaign-card">
          <img src="images/cause-img-1.jpg" alt="" class="img-responsive">
          <div class="campaign-info" style="height: 184px;">
            <h5>Educate Ophans</h5>
            <div class="category">
              <span>Education</span>
            </div>
            <!-- end category -->
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <!-- end campaign-info -->

          <div class="campaign-status">
            <div class="progress-bar"><span style="width: 10%;background-color:#27ae60"></span></div>
            <p>$1,500.00 of $15,000.00 raised</p>
          </div>
          <!-- end campaign-status -->

          <div class="card-footer">
            <a href="#" class="link-left">Donate Now</a>
            <a href="#" class="link-right">Read More</a>
          </div>
          <!-- end card-footer -->

          <div class="clearfix"></div>
        </div>
        <!-- end campaign-card -->
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="campaign-card">
          <img src="images/cause-img-2.jpg" alt="" class="img-responsive">
          <div class="campaign-info" style="height: 184px;">
            <h5>Feed Poor Kids</h5>
            <div class="category">
              <span>Food</span>
            </div>
            <!-- end category -->
            <p>Consectetur adipisicing elit, sed do lorem ipsum dolor sit amet, eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <!-- end campaign-info -->

          <div class="campaign-status">
            <div class="progress-bar"><span style="width: 70%;background-color:#27ae60"></span></div>
            <p>$10,500.00 of $15,000.00 raised</p>
          </div>
          <!-- end campaign-status -->

          <div class="card-footer">
            <a href="#" class="link-left">Donate Now</a>
            <a href="#" class="link-right">Read More</a>
          </div>
          <!-- end card-footer -->

          <div class="clearfix"></div>
        </div>
        <!-- end campaign-card -->
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="campaign-card">
          <img src="images/cause-img-3.jpg" alt="" class="img-responsive">
          <div class="campaign-info" style="height: 184px;">
            <h5>Water For Slum Kids</h5>
            <div class="category">
              <span>Water</span>
            </div>
            <!-- end category -->
            <p>Lorem ipsum dolor sit amet, sed do eiusmod tempor incididunt consectetur adipisicing elit, ut labore et dolore magna aliqua.</p>
          </div>
          <!-- end campaign-info -->

          <div class="campaign-status">
            <div class="progress-bar"><span style="width: 25%;background-color:#27ae60"></span></div>
            <p>$3750.00 of $15,000.00 raised</p>
          </div>
          <!-- end campaign-status -->

          <div class="card-footer">
            <a href="#" class="link-left">Donate Now</a>
            <a href="#" class="link-right">Read More</a>
          </div>
          <!-- end card-footer -->

          <div class="clearfix"></div>
        </div>
        <!-- end campaign-card -->
      </div>

    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>

<section class="content-section">
  <div class="container">
    <div class="row">
      <header class="section-header text-center col-md-8 col-md-offset-2">
        <h3 class="underline">How can you contribute?</h3>
        <p class="section-intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
      </header>
    </div>
    <!-- end row -->

    <div class="row features-row">
      <div class="col-md-3 col-sm-6 same-ht" style="height: 138px;">
        <h4>Educate Kids</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
        <i class="bg-icon ion-ios-paper-outline"></i>
      </div>

      <div class="col-md-3 col-sm-6 same-ht" style="height: 138px;">
        <h4>Donate Cloths</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
        <i class="bg-icon ion-loop"></i>
      </div>

      <div class="col-md-3 col-sm-6 same-ht" style="height: 138px;">
        <h4>Arrange Dinner</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
        <i class="bg-icon ion-pizza"></i>
      </div>

      <div class="col-md-3 col-sm-6 same-ht" style="height: 138px;">
        <h4>Adopt a Child</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
        <i class="bg-icon ion-heart"></i>
      </div>

      <div class="col-md-3 col-sm-6 same-ht" style="height: 138px;">
        <h4>Become Volunteer</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
        <i class="bg-icon ion-ribbon-a"></i>
      </div>

      <div class="col-md-6 col-sm-6 text-center black-gradient feature-diff same-ht" style="height: 138px;">
        <h2>Together, we can make difference!</h2>
        <p>Yes, we all can make huge difference with our small initiatives.</p>
      </div>

      <div class="col-md-3 col-sm-6 same-ht" style="height: 138px;">
        <h4>Donate Money</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
        <i class="bg-icon ion-cash"></i>
      </div>

    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>

<section class="content-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="images/charity-img-5.jpg" alt="" class="img-responsive img-box">
      </div>
      <div class="col-md-6">
        <header class="section-header">
          <h3 class="underline mtn mbn">Become Volunteer</h3>
          <h6 class="mt1">Experience the "Inner Peace"!</h6>
        </header>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <blockquote>Charity is a supreme virtue, and the great channel through which the mercy of God is passed onto mankind.
          <small class="text-muted"> Conrad Hilton</small>
        </blockquote>
        <a href="#" class="btn gw-btn">Join Now</a>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>

<section class="content-section">
  <div class="container">
    <div class="row">
      <header class="section-header text-center col-md-8 col-md-offset-2">
        <h3 class="underline">About the trust</h3>
        <p class="section-intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
      </header>
    </div>
    <!-- end row -->

    <div class="row">
      <div class="col-md-8">
        <h5 class="underline">One of the best charity / fundraising template.</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
        <div class="col-md-5">
          <blockquote>
            Awarded as one of the best charity trusts in 2015.
          </blockquote>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>

      <div class="col-md-4">
        <h5 class="underline">Why Us?</h5>
        <ul class="ul-style-1">
          <li><i class="fa fa-star list-icon"></i>Team of more than 200 volunteers.</li>
          <li><i class="fa fa-send list-icon"></i>Accredited by the government. </li>
          <li><i class="fa fa-hand-o-right list-icon"></i>Spreading smiles since 20 years. </li>
          <li><i class="fa fa-thumbs-up list-icon"></i>More than 20 successful campaigns. </li>
          <li><i class="fa fa-gear list-icon"></i>Most awarded charity trust. </li>
        </ul>
        <a href="#" class="btn gw-btn">Contact Us</a>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>

<section class="content-section">
  <div class="container">
    <div class="row">
      <header class="section-header text-center col-md-8 col-md-offset-2">
        <h3 class="underline">About the trust</h3>
        <p class="section-intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
      </header>
    </div>
    <!-- end row -->

    <div class="row">
      <div class="col-md-8">
        <h5 class="underline">One of the best charity / fundraising template.</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
        <div class="col-md-5">
          <blockquote>
            Awarded as one of the best charity trusts in 2015.
          </blockquote>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>

      <div class="col-md-4">
        <h5 class="underline">Why Us?</h5>
        <ul class="ul-style-1">
          <li><i class="fa fa-star list-icon"></i>Team of more than 200 volunteers.</li>
          <li><i class="fa fa-send list-icon"></i>Accredited by the government. </li>
          <li><i class="fa fa-hand-o-right list-icon"></i>Spreading smiles since 20 years. </li>
          <li><i class="fa fa-thumbs-up list-icon"></i>More than 20 successful campaigns. </li>
          <li><i class="fa fa-gear list-icon"></i>Most awarded charity trust. </li>
        </ul>
        <a href="#" class="btn gw-btn">Contact Us</a>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>

<section class="content-section black-gradient">
  <div class="container">
    <div class="row">

      <div class="col-md-6 col-md-offset-3 text-center subscribe-box">
        <h3 class="mtn">Stay updated with our events &amp; programs.</h3>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Enter email id..." id="email">
          <span class="input-group-btn">
							<button class="btn gw-btn" type="button">Subscribe!</button>
						</span>
        </div>
        <!-- end input-group -->
      </div>
      <!-- end subscribe-box -->

    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>

<section class="content-section">
  <div class="container">
    <div class="row">
      <header class="section-header text-center col-md-8 col-md-offset-2">
        <h3 class="underline">Charity Shop</h3>
        <p class="section-intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
      </header>
    </div>
    <!-- end row -->

    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="shop-card">
          <img src="images/product-img-3.jpg" alt="" class="img-responsive">
          <div class="shop-info">
            <h5>Hand Painted Dish</h5>
            <div class="category">
              <span>Craft</span>
            </div>
            <!-- end category -->
          </div>
          <!-- end shop-info -->

          <div class="shop-status">
            <p class="pt1">$200.00</p>
          </div>
          <!-- end shop-status -->

          <div class="card-footer">
            <a href="#" class="link-left">Buy Now</a>
            <a href="#" class="link-right">Details</a>
          </div>
          <!-- end card-footer -->

          <div class="clearfix"></div>
        </div>
        <!-- end shop-card -->
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="shop-card">
          <img src="images/product-img-2.jpg" alt="" class="img-responsive">
          <div class="shop-info">
            <h5>Woolen Show-piece</h5>
            <div class="category">
              <span>Handmade</span>
            </div>
            <!-- end category -->
          </div>
          <!-- end shop-info -->

          <div class="shop-status">
            <p class="pt1">$40.00</p>
          </div>
          <!-- end shop-status -->

          <div class="card-footer">
            <a href="#" class="link-left">Buy Now</a>
            <a href="#" class="link-right">Details</a>
          </div>
          <!-- end card-footer -->

          <div class="clearfix"></div>
        </div>
        <!-- end shop-card -->
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="shop-card">
          <img src="images/product-img-4.jpg" alt="" class="img-responsive">
          <div class="shop-info">
            <h5>Handmade Toy</h5>
            <div class="category">
              <span>Craft</span>
            </div>
            <!-- end category -->
          </div>
          <!-- end shop-info -->

          <div class="shop-status">
            <p class="pt1">$50.00</p>
          </div>
          <!-- end shop-status -->

          <div class="card-footer">
            <a href="#" class="link-left">Buy Now</a>
            <a href="#" class="link-right">Details</a>
          </div>
          <!-- end card-footer -->

          <div class="clearfix"></div>
        </div>
        <!-- end shop-card -->
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="shop-card">
          <img src="images/product-img-1.jpg" alt="" class="img-responsive">
          <div class="shop-info">
            <h5>Ladies Handbag</h5>
            <div class="category">
              <span>Handmade</span>
            </div>
            <!-- end category -->
          </div>
          <!-- end shop-info -->

          <div class="shop-status">
            <p class="pt1">$100.00</p>
          </div>
          <!-- end shop-status -->

          <div class="card-footer">
            <a href="#" class="link-left">Buy Now</a>
            <a href="#" class="link-right">Details</a>
          </div>
          <!-- end card-footer -->

          <div class="clearfix"></div>
        </div>
        <!-- end shop-card -->
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>

<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="row">

      <div class="col-md-4">
        <img src="images/logo-light.png" alt="" width="150" class="mb1">
        <p>Lorem ipsum dolor sit amet, adipisicing elit consectetur, sed do eiusmod tempor incididunt ut dolore magna aliqua labore et. Ut enim ad minim veniam dolore magna aliqua. Ut enim ad minim veniam.</p>
      </div>

      <div class="col-md-2 col-md-offset-2 col-sm-4">
        <h5 class="underline mtn">Know More</h5>
        <ul>
          <li><a href="#">Our Campaigns</a></li>
          <li><a href="#">Our Events</a></li>
          <li><a href="#">Recent Stories</a></li>
        </ul>
      </div>

      <div class="col-md-2 col-sm-4">
        <h5 class="underline mtn">Shop Now</h5>
        <ul>
          <li><a href="#">Handmade Bags</a></li>
          <li><a href="#">Craft Work</a></li>
          <li><a href="#">Handmade Cloths</a></li>
        </ul>
      </div>

      <div class="col-md-2 col-sm-4">
        <h5 class="underline mtn">Want To Help?</h5>
        <ul>
          <li><a href="#">Become Volunteer</a></li>
          <li><a href="#">Donate Money</a></li>
          <li><a href="#">Donate Cloths</a></li>
        </ul>
      </div>

    </div>
    <!-- end row -->

    <div class="row">
      <div class="col-md-6 col-sm-6">
        <h5 class="mbn"><i class="icon ion-ios-telephone"></i> +1 (123) 456-7890 <span class="separator">|</span> <i class="fa fa-envelope"></i> help@example.net</h5>
      </div>

      <div class="col-md-6 col-sm-6 text-right">
        <h5>
					<i class="fa fa-facebook"></i> <span class="separator">|</span> <i class="fa fa-twitter"></i> <span class="separator">|</span> <i class="fa fa-instagram"></i> <span class="separator">|</span> <i class="fa fa-youtube"></i> <span class="separator">|</span> <i class="fa fa-google-plus"></i>
				</h5>
      </div>

      <div class="col-md-12 text-center">
        <p><small class="text-muted">© 2016 Prakruti. All Rights Reserved.</small></p>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->

</footer>
