{{> navbar}}
<!-- Header -->
<header class="head background-slider">
  <div class="container">
    <div class="outer">
      <div class="inner text-center">
        <h1>Every Child is Special!</h1>
        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
        <button type="button" class="btn gw-btn">Donate Now</button>
      </div>
      <!-- end inner -->
    </div>
    <!-- end outer -->
  </div>
</header>

{{> make-difference}}

<!--  -->
<section class="content-section current-campaigns">
  <div class="container">
    <div class="row">
      <header class="section-header text-center col-md-8 col-md-offset-2">
        <h3 class="underline">Current Causes</h3>
        <p class="section-intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
      </header>
    </div>
    <!-- end row -->

    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="campaign-card">
          <img src="images/cause-img-1.jpg" alt="" class="img-responsive">
          <div class="campaign-info" style="height: 184px;">
            <h5>Educate Ophans</h5>
            <div class="category">
              <span>Education</span>
            </div>
            <!-- end category -->
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <!-- end campaign-info -->

          <div class="campaign-status">
            <div class="progress-bar"><span style="width: 10%;background-color:#27ae60"></span></div>
            <p>$1,500.00 of $15,000.00 raised</p>
          </div>
          <!-- end campaign-status -->

          <div class="card-footer">
            <a href="#" class="link-left">Donate Now</a>
            <a href="#" class="link-right">Read More</a>
          </div>
          <!-- end card-footer -->

          <div class="clearfix"></div>
        </div>
        <!-- end campaign-card -->
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="campaign-card">
          <img src="images/cause-img-2.jpg" alt="" class="img-responsive">
          <div class="campaign-info" style="height: 184px;">
            <h5>Feed Poor Kids</h5>
            <div class="category">
              <span>Food</span>
            </div>
            <!-- end category -->
            <p>Consectetur adipisicing elit, sed do lorem ipsum dolor sit amet, eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <!-- end campaign-info -->

          <div class="campaign-status">
            <div class="progress-bar"><span style="width: 70%;background-color:#27ae60"></span></div>
            <p>$10,500.00 of $15,000.00 raised</p>
          </div>
          <!-- end campaign-status -->

          <div class="card-footer">
            <a href="#" class="link-left">Donate Now</a>
            <a href="#" class="link-right">Read More</a>
          </div>
          <!-- end card-footer -->

          <div class="clearfix"></div>
        </div>
        <!-- end campaign-card -->
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="campaign-card">
          <img src="images/cause-img-3.jpg" alt="" class="img-responsive">
          <div class="campaign-info" style="height: 184px;">
            <h5>Water For Slum Kids</h5>
            <div class="category">
              <span>Water</span>
            </div>
            <!-- end category -->
            <p>Lorem ipsum dolor sit amet, sed do eiusmod tempor incididunt consectetur adipisicing elit, ut labore et dolore magna aliqua.</p>
          </div>
          <!-- end campaign-info -->

          <div class="campaign-status">
            <div class="progress-bar"><span style="width: 25%;background-color:#27ae60"></span></div>
            <p>$3750.00 of $15,000.00 raised</p>
          </div>
          <!-- end campaign-status -->

          <div class="card-footer">
            <a href="#" class="link-left">Donate Now</a>
            <a href="#" class="link-right">Read More</a>
          </div>
          <!-- end card-footer -->

          <div class="clearfix"></div>
        </div>
        <!-- end campaign-card -->
      </div>

    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>

{{> contribute}}

{{> become-volunteer}}

{{> whyus}}

<section class="content-section">
  <div class="container">
    <div class="row">
      <header class="section-header text-center col-md-8 col-md-offset-2">
        <h3 class="underline">About the trust</h3>
        <p class="section-intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
      </header>
    </div>
    <!-- end row -->

    <div class="row">
      <div class="col-md-8">
        <h5 class="underline">One of the best charity / fundraising template.</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
        <div class="col-md-5">
          <blockquote>
            Awarded as one of the best charity trusts in 2015.
          </blockquote>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>

      <div class="col-md-4">
        <h5 class="underline">Why Us?</h5>
        <ul class="ul-style-1">
          <li><i class="fa fa-star list-icon"></i>Team of more than 200 volunteers.</li>
          <li><i class="fa fa-send list-icon"></i>Accredited by the government. </li>
          <li><i class="fa fa-hand-o-right list-icon"></i>Spreading smiles since 20 years. </li>
          <li><i class="fa fa-thumbs-up list-icon"></i>More than 20 successful campaigns. </li>
          <li><i class="fa fa-gear list-icon"></i>Most awarded charity trust. </li>
        </ul>
        <a href="#" class="btn gw-btn">Contact Us</a>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>

{{> subscribe}}
{{> footer}}
